{% extends 'base.html.twig' %}

{% block title 'Liste des Articles' %}

{% block body %}
    <div class="container">
        <h1 class="text-center mt-3">Liste des articles</h1>
    </div>
{% endblock %}